// Mobile
@media(max-width:767px){

}

@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

@font-face {
  font-family: 'MyWebFont';
  src:  url('../font/Snickles.ttf');
}
@font-face {
    font-family: 'MyWebFont2';
  src:  url('../font/trench100free.ttf')  
}



body {

}


header {
    text-align: center;
  display:flex;
  flex-flow: row wrap;
  // background-color: indigo;
  justify-content: center;
  padding:10px;
  margin-bottom: 10px;
  h1 {
    color:gold;
    // transition: all 3s;
    font-size: 6em;
    font-family: MyWebFont;
    letter-spacing: 4px;

  }
}

.navbar {
      font-family: MyWebFont;
    letter-spacing: 3px;
    font-size: 1.3em;
   
}

footer {
  background-color: black;
  text-align: center;
  color: #777;
}

nav ul  :hover {
    background-color: greenyellow
  }  

@import 'passenger';
@import 'index';

